.articleContainer {
  /* padding: var(--xx-large-gap) 0px; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  /* gap: var(--xx-large-gap); */
  max-width: 1200px;
  height: 100%;
}

.articleTitle {
  color: var(--text-color);
  font-weight: bold;
  font-size: var(--font-size-xxx-large);
  margin: auto;
}

@media (max-width: 499px) {
  /* .articleContainer {
    padding: 0px var(--padding-medium);
    gap: var(--medium-gap);
  } */

  .articleTitle {
    font-size: var(--font-size-x-large);
  }
}
