.containerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  flex-direction: column;
}

.blogContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--medium-gap);
  padding-bottom: var(--large-gap);
  border-bottom: 1px solid var(--text-color);
}

.blogImg {
  max-width: 300px;
  border-radius: var(--border-radius);
}

.blogTitle {
  font-size: var(--font-size-large);
  max-width: 400px;
}

@media (max-width: 499px) {
  .containerDiv {
    gap: 20px;
  }

  .blogContainer {
    flex-direction: column;
  }

  .blogImg {
    width: 100%;
    max-width: 100%;
  }

  .blogTitle {
    font-size: var(--font-size-medium);
  }
}
