@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme='light'] {
  --background-color: var(--white-color);
  --text-color: var(--primary-dark-color);
  --card-background-color: var(--white-color);
}

html[data-theme='dark'] {
  --background-color: var(--secondary-dark-color);
  --text-color: var(--white-color);
  --card-background-color: var(--secondary-color);
}

:root {
  --primary-color: #febe58;
  --secondary-color: #202225;
  --primary-dark-color: #111114;
  --box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  --secondary-dark-color: #1c1c1c;
  --white-color: #fdfcff;
  --font-size-xx-small: 10px;
  --font-size-x-small: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-regular: 20px;
  --font-size-regular-mobile: 14px;
  --font-size-large: 22px;
  --font-size-x-large: 26px;
  --font-size-xx-large: 30px;
  --font-size-xxx-large: 36px;
  --border-radius: 12px;
  --text-color: #24272b;
  --text-dark: #24272b;
  --page-gap: 30px;
  --small-gap: 10px;
  --medium-gap: 20px;
  --large-gap: 30px;
  --x-large-gap: 40px;
  --xx-large-gap: 50px;
  --accent-color: #eb06ff;
  --accent-hover: #c104d1;
  --primary-font: 'Merriweather Sans', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 40px;
  --scrollbar-background: rgb(52, 80, 161);
  --gradient: linear-gradient(
    167deg,
    rgba(17, 17, 20, 1) 68%,
    rgba(254, 190, 88, 1) 97%
  );
  /* --gradient: linear-gradient(
    17deg,
    var(--secondary-color) 0%,
    var(--primary-color) 35%,
    var(--secondary-color) 100%
  ); */
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

/******************************************
            Utility Classes
/******************************************/
.flex-start-container,
.flex-column-container,
.flex-center-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--medium-gap);
}

.flex-column-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-center-container {
  align-items: center;
  justify-content: center;
}

.space-between-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two-col-grid-container {
  display: grid;
  gap: var(--x-large-gap);
  grid-template-columns: repeat(2, 1fr);
}

.article-container {
  padding: var(--xx-large-gap) 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: var(--xx-large-gap);
  max-width: 1200px;
  height: 100%;
}

.width-100 {
  width: 100%;
}

.height-100 {
  width: 100%;
}

/******************************************
                Globals
/******************************************/
.twitter-tweet {
  margin: var(--x-large-gap) auto !important;
}

h1 {
  color: var(--text-color);
  font-weight: bold;
  font-size: var(--font-size-x-large);
}

p {
  color: var(--text-color);
  font-weight: normal;
  font-size: var(--font-size-small);
}

a:link,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.link-style-none,
.link-style-none:hover,
.link-style-none:visited {
  text-decoration: none;
  color: var(--text-color);
}

.full-width-post-title {
  font-size: 35px !important;
}

.text-article {
  font-size: var(--font-size-regular);
  color: var(--text-color);
  max-width: 700px;
  line-height: 30px;
}

.text-article p {
  margin: var(--padding-medium) auto;
}

/* body::-webkit-scrollbar {
  width: 6px;
} */

/* body::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: var(--white-color);
  background-color: var(--secondary-color);
} */

body::-webkit-scrollbar-thumb {
  /* Primary color option */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    17deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(3, 17, 58, 1) 35%,
    rgba(52, 80, 161, 1) 100%
  ); */

  /* Pink option */
  /* background: var(--scrollbar-background);
  background: var(--scrollbar-gradient);
  outline: none;
  border-radius: 30px; */
}

/******************************************
              Mobile
/******************************************/

@media (max-width: 499px) {
  h1 {
    font-size: var(--font-size-large);
  }

  .flex-start-container,
  .flex-column-container,
  .flex-center-container {
    gap: 10px;
  }

  .article-container {
    padding: 0px var(--padding-medium);
  }
}

@media (max-width: 630px) {
  .two-col-grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .mobile-column {
    flex-direction: column;
  }

  .nav-link {
    font-size: var(--font-size-regular-mobile) !important;
    padding: var(--padding-small) 0px;
  }
}
