.containerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-dark-color);
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: var(--padding-large);
}

.navLink {
  cursor: pointer;
  color: var(--white-color);
  text-decoration: none;
  font-size: var(--font-size-regular);
  padding: var(--padding-small) 0px;
  border-bottom: 2px solid transparent;
}

.navLink:hover {
  border-bottom: 2px solid var(--primary-color);
  text-decoration: none;
}

.navLink p {
  font-size: var(--font-size-regular);
  color: var(--white-color);
}

.iconContainerDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.logo {
  border-radius: 12px;
  width: 100px;
}

@media (max-width: 499px) {
  .containerDiv {
    padding: var(--padding-large) var(--padding-small);
    gap: 10px;
  }
  .navLink p {
    font-size: var(--font-size-medium);
  }
}
